{% load active_link_tags %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
    <!-- <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
    <span class="brand-text font-weight-light">Beans Auto Factory</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div> 
        <div class="info">
            <a href="" class="d-block">Info</a>
        </div>
    </div> -->

    <!-- SidebarSearch Form -->
    <!-- <div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
        <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
        </button>
        </div>
    </div>
    </div> -->
    {% block contents %}

    <!-- Sidebar Menu -->
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                ログイン
                <!-- <span class="right badge badge-danger">New</span> -->
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'index' %}" class="nav-link {% if nbar == 'index' %}active{% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>オーダー</p>
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item {% active_link 'orders:index' %}">
                <a href="{% url 'index' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>オーダー【新規】</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="./index2.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>オーダー【改造】</p>
                </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
        <a href="pages/widgets.html" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
            PDFパッケージ
            <span class="right badge badge-danger">New</span>
            </p>
        </a>
        </li>
        <li class="nav-item">
        <a href="" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
            クラウド
            <i class="fas fa-angle-left right"></i>
            <span class="badge badge-info right">6</span>
            </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="pages/layout/top-nav.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>フロイント</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>フィブ</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="pages/layout/boxed.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>きんでん</p>
                    </a>
                </ul>
            </li>
        
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="nav-icon fas fa-tree"></i>
                <p>
                Pythonプログラム
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                Forms
                <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="pages/forms/general.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>General Elements</p>
                </a>
                </li>
                
            </ul>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                Tables
                <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="pages/tables/simple.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Simple Tables</p>
                </a>
                </li>
            </ul>
        </li>
        <li class="nav-header">LABELS</li>
        <li class="nav-item">
        <a href="" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Important</p>
        </a>
        </li>
        <li class="nav-item">
        <a href="" class="nav-link">
            <i class="nav-icon far fa-circle text-warning"></i>
            <p>Warning</p>
        </a>
        </li>
        <li class="nav-item">
        <a href="" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p>Informational</p>
        </a>
        </li>
    </ul>
    </nav>
    <!-- /.sidebar-menu -->
    {% endblock contents %}
</div>
<!-- /.sidebar -->
</aside>